@import url('https://fonts.cdnfonts.com/css/christmas-smiling');
@import url('https://fonts.cdnfonts.com/css/amoitar');
@import url('https://fonts.cdnfonts.com/css/manjari-2');
body {
    background-color: #fffaf0; /* tom suave de creme */
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    color: #7fb307; /* tom laranja forte para destaque */
    text-align: center;
    margin-bottom: 20px;
    font-size: 4.2rem;
    font-family: 'Christmas Smiling', sans-serif;
                                                
}

h2 {
    color: #d30046;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 2.2rem;
    font-family: 'Christmas Smiling', sans-serif;
                                                
}

h3 {
    color: #52cc0b;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 2rem;
   font-family: 'Christmas Smiling', sans-serif;
                                                
}

p {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-family: 'Manjari', sans-serif;
                                                
}

blockquote {
    font-style: italic;
    color: #d30046;
    background-color: #c9f0a4;
    border-left: 4px solid #39c20f;
    padding-left: 10px;
    margin: 15px 0;
    font-size: 1.2rem;
    font-family: 'Amoitar', sans-serif;
                                                
}

ul, ol {
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-family: 'Manjari', sans-serif;
}

li {
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-family: 'Manjari', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Manjari', sans-serif;
}

caption {
    caption-side: top;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 10px;
    font-family: 'Christmas Smiling', sans-serif;
    color: #d30046;
                                            
}

th, td {
    border: 1px solid #006627;
    padding: 10px;
    text-align: left;
    font-size: 24px;
    color: #113a07;
}

th {
    background-color: #c9f0a4;
    

}

td {
       background-color: #e4ffc9;

}

strong {
    color: #236413;
}

em {
    font-style: italic;
    color: #d30046;
    font-size: 1.2rem;
}

/* Dicas de culinária */
ul li sup {
    font-size: 0.8rem;
}

ul li sub {
    font-size: 0.8rem;
}
caption{
    color: #236413;
    font-size: 40px;
}